
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

.body {
    font-family: montserrat;
}
    

.navbar {
    background-color: white;
    

}

.navbar > a {
    font-size: 36px;
}

.jumbotron {
    width: 100%;
    height: 600px;
    background-image: url("images/mockuuups-macbook-pro-space-gray-mockup-on-the-wooden-table.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}

.casestudyContainer {
    position: relative;
    display: flex;
    justify-content: center;
    
}


.herotextBackground {
    position: absolute;
    background: #315685;
    opacity: 95%;
    text-align: center;
    min-height: 150px;
    margin-top: 475px; 
    
    
}

.herotextBackground > h1, p {
    font-weight: 500;
}

.firstHeading {
    margin-top: 150px;
}

.standardimageContainer {
    max-width: 700px;
    max-height: 450px;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
}

.standardimageContainer > img {
    max-width: 100%;
    max-height: 100%;
    
}

.challengeimageContainer {
    width:543px;
    height:317px;
}

.challengeimageContainer > img {
    width:543px;
    height:317px;
}

.methodologyContainer {
    width: 100%;
    height: 128px;
    
}

.methodologyContainer > img {
    width: 100%;
    height: 100%;
}

.mobileimageContainer {
    width: 156px;
    height: 315px;
}

.mobileimageContainer > img {
    width: 100%;
    height: 100%;
}


.desktopimageContainer {
    width: 543px;
    height: 317px;
}

.desktopimageContainer > img {
    width: 100%;
    height: 100%;
}

.card-img-top {
    height: 100%;
}

.smallCard {
   height:200px;
}

.mockup {
   display: inline-flex;
}

.mockupContainer {
    height: 650px;
    width: 300px;
    
}

.mockupContainer > img {
    height: 100%;
    width: 100%;
}

.card-img-top {
    display: inline-flex;
}

/* Footer Section */

.footersection {
    text-align: center;
    color: white;
    background-color: black;
    padding:30px;
}

.footersection a {
    color:white;
    padding: 10px;
}

.footerlineBreak {
  width: 100px;  
  color: white;
  border: white;
}